body {
    font-family: "Play", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-style: normal;
}

.form {
    text-align: center;
    margin: 25px;
    padding: 25px;
    width: 700px;
    height: 200px;
    font-size: 22px;
}

.radio {
    display: flex;
    gap: 25px;
    margin-left: 70px;
}

.bodee {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 600px;
    height: 400px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px black;
    letter-spacing: 1px;
}

.form_input,
.form_button {
    font-size: 16px;
    letter-spacing: 1px;
}

.form_title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
}

.form_group {
    position: relative;
    margin-bottom: 32px;
}

.form_label {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: -1;
    color: rgb(185, 185, 185);
    transition: 0.3s;
    margin-top: -7px;
}

.form_input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.form_input:focus {
    border-bottom: 1px solid black;
}

.form_button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: coral;
    outline: none;
    cursor: pointer;
    transition: 0.6s;
}

.form_button:hover,
.form_button:focus {
    background-color: rgb(145, 73, 47);
}

.form_input:focus~.form_label,
.form_input:not(:placeholder-shown)~.form_label {
    top: -18px;
    font-size: 12px;
    color: rgb(185, 185, 185);
}