img {
    width: 330px;
    height: 400px;
    border-radius: 20px;
}

.speaker {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: rgb(172, 216, 253);
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
}
.text {
    margin-top: 140px;
    margin-left: -120px;
}