body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
    background: #f6f8fa;
    line-height: 1.6;
}

header {
    background: #ffffff;
    border-bottom: 2px solid #e0e0e0;
    padding: 20px 40px;
    display: flex;
    justify-content: center;

}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 30px;
    color: #1a1a1a;
}

header p {
    margin: 0;
    color: #666;
    font-size: 0.9em;
}

nav ul {
    position: relative;
    top: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    left: 20px;
}

nav a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #0056b3;
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.speaker img {
    width: 330px;
    height: 400px;
    border-radius: 20px;
}

.speaker {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: rgb(172, 216, 253);
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
}

.text {
    margin-top: 140px;
    margin-left: -120px;
}

footer {
    background: #1a1a1a;
    color: #ddd;
    text-align: center;
    padding: 30px 20px;
    font-size: 0.95em;
}